body {
    margin: 0px;
    padding: 0px;
    background-color: var(--me-color-surface-0);
    --drawer-width-shrink: 320px;
    --drawer-width-default: 80px;
}

.drawer-shadow {
    background: #00000020;
    display: block;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .2s ease-in-out;
    pointer-events: none;
    z-index: 1000;
}

.drawer-shadow.shown {
    opacity: 1;
    pointer-events: auto;
}

drawer[open="true"] {
    left: 0%;
}

drawer[open="false"] {
    left: -100%;
}

drawer {
    line-height: 24px;
    display: flex;
    top: 0px;
    bottom: 0px;
    left: 0px;
    flex-direction: column;
    align-items: center;
    transition: all .2s ease-in-out;
    border-radius: 0px var(--s16px) var(--s16px) 0px;
    background-color: var(--me-color-surface);
    box-shadow: var(--me-theme-elevation-1);
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 0;
    z-index: 1100;
    height: 100vh;
    position: fixed;
}

body:not([shrink="false"]) drawer{
    width: var(--drawer-width-shrink);
}

body[shrink="false"] drawer{
    width: var(--drawer-width-default);
}

drawer>section {
    flex: 1;
    width: 100%;
    left: 0px;
    overflow: visible;
    position: relative;
    transition: all .3s ease-in-out;
}

body:not([shrink="false"]) drawer[child-open="true"]>section {
    left: calc(-100%);
}

drawer>* {
    display: block;
    margin: 8px 0 auto;
    padding-bottom: 24px;
}

body:not([shrink="false"])>drawer>.me-div-goback,
body:not([shrink="false"]) .mId0-gb {
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 0px;
    width: 100%;
}

body[shrink="false"]>drawer>.me-div-goback,
body[shrink="false"] .mId0-gb {
    display: none;
}

:is(drawer, child-menu) .drawer-item,
.mId0-c {
    display: flex;
    height: var(--s64px);
    width: calc(var(--drawer-width) - var(--s16px));
    align-items: center;
    margin: 8px;
    border-radius: 100px;
    text-decoration: none;
    color: var(--me-color-surface-text);
    border: none;
    font-size: var(--font-size);
    cursor: pointer;
}

child-drop>.drawer-item>icon,
.mId0-c>icon {
    padding: 4px;
}

:is(drawer>section, child-menu, child-drop)>.drawer-item>icon,
.mId0-c>icon,
.mId0-ci>icon {
    display: flex;
    height: 48px;
    width: 48px;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
}

:is(drawer>section, child-menu)>.drawer-item>icon,
.mId0-c>icon{
    padding: 8px;
}

body:not([shrink="false"])>:is(drawer, child-menu) .drawer-item:not(.has-sub-drop):hover,
drawer child-menu .drawer-item:not(.has-sub-drop):hover,
.mId0-hl {
    background-color: var(--me-color-secondary-container);
}

:is(drawer, child-menu) ul.drawer-item {
    padding-left: 0px;
}

drawer>section>.drawer-item>child-menu {
    position: absolute;
    left: 100%;
    top: 0px;
}

body[shrink="false"]>drawer {
    left: 0%;
    width: 80px;
    border-radius: 0px;
}

body[shrink="false"]>drawer[child-open="true"] {
    border-radius: 0px 16px 16px 0px;
}

body[shrink="false"]>:is(.ME-Drawer, Drawer)>section>.drawer-item {
    flex-direction: column;
    width: 64px;
}

body[shrink="false"]>drawer>section>.drawer-item[open-menu="true"]>icon,
body[shrink="false"]>:is(.ME-Drawer, Drawer)>:is(.ME-Section, Section)>.drawer-item:hover>icon {
    background-color: var(--me-color-secondary-container);
}

body[shrink="false"]>drawer>icon {
    margin: 0px;
}

child-menu{
    transition: all .1s ease-in-out;
    opacity: 0;
}

drawer[child-open="true"]>section>.drawer-item>child-menu{
    opacity: 1;
}

body[shrink="false"]>drawer>section>.drawer-item>child-menu {
    left: 64px;
    margin-left: 8px;
    display: block;
}

body[shrink="false"]>drawer[child-open="true"]>section>.drawer-item>child-menu {
    margin-left: 0px;
}

body[shrink="false"]>drawer[child-open="true"] {
    width: calc(var(--drawer-width-shrink) + 64px);
}

.drawer-item.has-sub-drop{
    position: relative;
    height: 64px;
    flex-direction: column;
    overflow: hidden;
    border-radius: 0px;
    transition: height .3s ease-in-out;
}

.drawer-item.has-sub-drop::before{
    content: 'arrow_drop_down';
    font-family: 'Google Symbols';
    position: absolute;
    left: 20px;
    top: 20px;
    font-size: 32px;
    transition: transform .3s ease-in-out;
}

.drawer-item.has-sub-drop:hover::before{
    transform: rotate(180deg);
}

.drawer-item.has-sub-drop:hover{
    height: var(--sHeight);
}

.drawer-item.has-sub-drop>span{
    display: flex;
    min-height: 64px;
    width: var(--drawer-width);
    padding-left: 140px;
    align-items: center;
}

.drawer-item.has-sub-drop>child-drop>.drawer-item{
    position: relative;
}


body[shrink="false"] .hide-on-wide {
    display: none;
}

body:not([shrink="false"]) .hide-on-shrink {
    display: none;
}

toolbar {
    height: 80px;
    display: flex;
    position: fixed;
    box-sizing: border-box;
    padding: 16px 8px;
    top: 0px;
    right:0px;
    z-index: 900;
}

body[shrink="false"] :is(toolbar,paper){
    width: calc(100vw - var(--drawer-width-default));
    margin-left: var(--drawer-width-default);
}

paper{
    display: block;
    min-height: calc(100vh - 112px);
    position: relative;
    right: 0px;
    top: 80px;
    padding: 16px;
}

body:not([shrink="false"]) toolbar{
    width: calc(100vw - 16px);
}

body[shrink="false"] paper{
    width: calc(100vw - var(--drawer-width-default) - 32px);
    margin-left: var(--drawer-width-default);
}

body[no-toolbar="true"] paper{
    top: 16px;
    min-height: 100vh;
}