body {
    margin: 0px;
    padding: 0px;
    background-color: var(--me-color-surface-0);
}

:is(.ME-Drawer, Drawer) {
    display: block;
    height: 100%;
    position: fixed;
    top: 0px;
    transition: background .3s ease-in-out;
    z-index: 1000;
}

.drawer-shadow {
    background: #00000020;
    display: block;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .2s ease-in-out;
    pointer-events: none;
    z-index: 900;
}

.drawer-shadow.shown {
    opacity: 1;
    pointer-events: auto;
}

:is(.ME-Drawer, Drawer)[open="true"] {
    left: 0%;
}

:is(.ME-Drawer, Drawer)[open="false"] {
    left: -100%;
}

:is(.ME-Drawer, Drawer) {
    line-height: 24px;
    display: flex;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: var(--drawer-width);
    flex-direction: column;
    align-items: center;
    transition: left .3s ease-in-out, width .3s ease-in-out, border-radius .2s ease-in-out;
    border-radius: 0px var(--s16px) var(--s16px) 0px;
    background-color: var(--me-color-surface);
    box-shadow: var(--me-theme-elevation-1);
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 0;
    z-index: 1100;
}

:is(.ME-Drawer, Drawer)>:is(.ME-Section, Section) {
    flex: 1;
    width: 100%;
    left: 0px;
    overflow-y: visible;
    overflow-x: hidden;
    position: relative;
    transition: left .3s ease-in-out;
}

body:not([shrink="false"])>:is(.ME-Drawer, Drawer)[child-open="true"]>:is(.ME-Section, Section) {
    left: calc(-100%);
    overflow-x: visible;
}

:is(.ME-Drawer, Drawer)>* {
    display: block;
    margin: 8px 0 auto;
    padding-bottom: 24px;
}

body:not([shrink="false"])>:is(.ME-Drawer, Drawer)>:is(.ME-GoBack, GoBack) {
    padding-left: var(--s16px);
    padding-bottom: 0px;
    width: 100%;
}

body[shrink="false"]>:is(.ME-Drawer, Drawer)>:is(.ME-GoBack, GoBack) {
    display: none;
}

:is(.ME-Drawer, Drawer, .ME-ChildMenu, ChildMenu) .drawer-item {
    display: flex;
    height: var(--s64px);
    width: calc(var(--drawer-width) - var(--s16px));
    align-items: center;
    margin: 8px;
    border-radius: 100px;
    text-decoration: none;
    color: var(--me-color-surface-text);
    border: none;
    font-size: var(--font-size);
    cursor: pointer;
}

:is(.ME-Drawer, Drawer, .ME-ChildMenu, ChildMenu) .drawer-item>icon {
    display: flex;
    height: 48px;
    width: 48px;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 100px;
}

body:not([shrink="false"])>:is(.ME-Drawer, Drawer, .ME-ChildMenu, ChildMenu) .drawer-item:hover,
:is(.ME-Drawer, Drawer) :is(.ME-ChildMenu, ChildMenu) .drawer-item:not(.has-sub-drop):hover {
    background-color: var(--me-color-secondary-container);
}

:is(.ME-Drawer, Drawer, .ME-ChildMenu, ChildMenu) ul.drawer-item {
    padding-left: 0px;
}

:is(.ME-Drawer, Drawer)>:is(.ME-Section, Section)>.drawer-item>:is(.ME-ChildMenu, ChildMenu) {
    position: absolute;
    left: 100%;
    top: 0px;
}

body[shrink="false"]>:is(.ME-Drawer, Drawer) {
    left: 0%;
    width: var(--s80px);
    border-radius: 0px;
}

body[shrink="false"]>:is(.ME-Drawer, Drawer)[child-open="true"] {
    border-radius: 0px var(--s16px) var(--s16px) 0px;
}

body[shrink="false"]>:is(.ME-Drawer, Drawer)>:is(.ME-Section, Section)>.drawer-item {
    flex-direction: column;
    width: var(--s64px);
}

body[shrink="false"]>:is(.ME-Drawer, Drawer)>:is(.ME-Section, Section)>.drawer-item[open-menu="true"]>icon,
body[shrink="false"]>:is(.ME-Drawer, Drawer)>:is(.ME-Section, Section)>.drawer-item:hover>icon {
    background-color: var(--me-color-secondary-container);
}

body[shrink="false"]>:is(.ME-Drawer, Drawer)>icon {
    margin: 0px;
}

body[shrink="false"]>:is(.ME-Drawer, Drawer)>:is(.ME-Section, Section)>.drawer-item>:is(.ME-ChildMenu, ChildMenu) {
    left: var(--s64px);
    display: none;
    margin-left: 8px;
    transition: margin-left .3s ease-in-out;
}

body[shrink="false"]>:is(.ME-Drawer, Drawer)[child-open="true"]>:is(.ME-Section, Section)>.drawer-item>:is(.ME-ChildMenu, ChildMenu) {
    margin-left: 0px;
    display: block;
}

body[shrink="false"]>:is(.ME-Drawer, Drawer)[child-open="true"]>:is(.ME-Section, Section) {
    overflow-x: visible;
}

body[shrink="false"]>:is(.ME-Drawer, Drawer)[child-open="true"] {
    width: calc(var(--drawer-width) + var(--s64px));
}

.drawer-item.has-sub-drop{
    position: relative;
    height: var(--s64px);
    flex-direction: column;
    overflow: hidden;
    border-radius: 0px;
    transition: height .3s ease-in-out;
}

.drawer-item.has-sub-drop::before{
    content: 'arrow_drop_down';
    font-family: 'Google Symbols';
    position: absolute;
    left: calc(2.5 * var(--s8px));
    top: calc(2.5 * var(--s8px));
    font-size: 32px;
    transition: transform .3s ease-in-out;
}

.drawer-item.has-sub-drop:hover::before{
    transform: rotate(180deg);
}

.drawer-item.has-sub-drop:hover{
    height: var(--sHeight);
}

.drawer-item.has-sub-drop>span{
    display: flex;
    min-height: var(--s64px);
    width: var(--drawer-width);
    padding-left: calc(var(--s80px) + var(--s64px) - var(--s8px));
    align-items: center;
}

.drawer-item.has-sub-drop>child-drop>.drawer-item{
    position: relative;
}


body[shrink="false"] .hide-on-wide {
    display: none;
}

body:not([shrink="false"]) .hide-on-shrink {
    display: none;
}

:is(.ME-Toolbar, Toolbar) {
    height: 64px;
    display: flex;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding: 8px;
}