layout[\@grid]{
    display: grid;
}

body[m-layout="wide"] layout[\@grid]{
    grid-template-columns: repeat(var(--mGridCount),var(--mGridType));
}

body[m-layout="narrow"] layout[\@grid]{
    grid-template-columns: repeat(var(--mGridCountM),var(--mGridTypeM));
}