*{
    transition: all .2s ease-in-out;
}

:root{
    --round-radius:32px;
    --round-radius-content:24px;
    --drawer-width:320px;
    --font-size:16px;
    --s8px: 8px;
    --s16px: 16px;
    --s32px: 32px;
    --s64px: 64px;
    --s80px: 80px;
}

body{
    --basisColor-H: 216;
    --basisColor-S: 90%;
    --basisColor-L: 43%;
    --basisColor: hsl(var(--basisColor-H),var(--basisColor-S),var(--basisColor-L));
    --basisColorLighter: hsl(var(--basisColor-H),var(--basisColor-S),calc(var(--basisColor-L) + 12%));
    --basisColorDarker: hsl(var(--basisColor-H),var(--basisColor-S),calc(var(--basisColor-L) - 12%));
    --me-theme-elevation-1: 0px 1px 2px 0px rgb(0 0 0 / 30%), 0px 1px 3px 1px rgb(0 0 0 / 15%);
    --me-theme-elevation-2: 0px 1px 2px 0px rgb(0 0 0 / 30%), 0px 2px 6px 2px rgb(0 0 0 / 15%);
    --me-theme-elevation-3: 0px 1px 3px 0px rgb(0 0 0 / 30%), 0px 4px 8px 3px rgb(0 0 0 / 15%)
}

body.light{
    color: #1f1f1f;
    --me-color-surface-0: #fff;
    --me-color-surface: #f3f6fc;
    --me-color-onsurface-v-2: linear-gradient(0deg, rgba(68, 71, 70, .08), rgba(68, 71, 70, .08));
    --me-color-surface-text: #1f1f1f;
    --me-color-surface-outline: #747775;
    --me-color-surfce-text-0: #fff;
    --me-basicColorDefinitionPrimary-H: calc(var(--basisColor-H) - 10);
    --me-basisColorDefinitionCommon-S: calc(var(--basisColor-S) - 25%);
    --me-basisColorDefinitionCommon-L: calc(var(--basisColor-L) + 55%);
    --me-colorSurfaceBgPrimary: hsl(var(--me-basicColorDefinitionPrimary-H),calc(var(--basisColor-S) + 20%),calc(var(--basisColor-L) + 45%));
    --me-colorSurfaceBgLight: hsl(var(--me-basicColorDefinitionPrimary-H),calc(var(--basisColor-S) - 10%),calc(var(--basisColor-L) + 53%));
    --me-colorSurfaceBgCommon: hsl(var(--me-basicColorDefinitionPrimary-H),var(--me-basisColorDefinitionCommon-S),var(--me-basisColorDefinitionCommon-L));
}

body.dark{
    color: #fff;
    --me-color-secondary-container: #004a77;
    --me-color-surface-0: #1f1f1f;
    --me-color-surface: #28292a;
    --me-color-onsurface-v-2: linear-gradient(0deg, rgba(227, 227, 227, .08), rgba(227, 227, 227, .08));
    --me-color-surface-text: #e3e3e3;
    --me-color-surface-outline: #8e918f;
    --me-color-surfce-text-0: #1f1f1f;
    --me-basicColorDefinitionPrimary-H: calc(var(--basisColor-H) - 13);
    --me-basisColorDefinitionCommon-S: calc(var(--basisColor-S) - 55%);
    --me-basisColorDefinitionCommon-L: calc(var(--basisColor-L) - 29%);
    --me-colorSurfaceBgPrimary: hsl(var(--me-basicColorDefinitionPrimary-H),calc(var(--basisColor-S) - 10%),calc(var(--basisColor-L) - 18%));
    --me-colorSurfaceBgLight: hsl(var(--me-basicColorDefinitionPrimary-H),calc(var(--basisColor-S) - 10%),calc(var(--basisColor-L) + 53%));
    --me-colorSurfaceBgCommon: hsl(var(--me-basicColorDefinitionPrimary-H),var(--me-basisColorDefinitionCommon-S),var(--me-basisColorDefinitionCommon-L));
}